<footer class="footer-container">
    <div class="footer-container-section">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a [href]="footer.onClickLogoLink" class="logo-container">
                <img [src]="footer.logImageLink" class="h-8" alt="Flowbite Logo" />
                <span class="logo-text">{{footer.companyName}}</span>
            </a>
            <ul class="link-list">
                <li *ngFor="let link of footer.linkList">
                    <a href="#" class="link-list-element">{{link}}</a>
                </li>
            </ul>
        </div>
        <hr class="copy-right-divider" />
        <span class="copy-right-text">© 2023 <a href="https://flowbite.com/" class="hover:underline">{{footer.companyName}}</a>. All Rights Reserved.</span>
    </div>
</footer>

