.hideable-span {
  display: inline;
}

.menu-toggle-button {
  display: none;
}

.mt-10 {
  margin: 10px;
}

.nav-container {
  display: flex;
}

.nav-container-style {
  background-color: rgb(34, 34, 34);
  height: 60px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 400;
  font-size: 12px;
  font-family: "robotobold", "Helvetica", "Arial", sans-serif;
}

.item-container-style {
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  cursor: pointer;
}

.left-nav-container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.left-nav-container>* {
  width: 25%;
}

.right-item-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left-nav-container :hover {
  color: #999;
}

.default-button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}


.logo-mobile-screen {
  width: 60px !important;
  height: 60px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .menu-toggle-button {
    display: block;
  }

  .right-item-container {
    width: 100%;
    height: 60px;
  }

  .left-nav-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .left-nav-container>* {
    text-align: center;
    width: 100%;
  }

  .left-nav-container>*:hover {
    margin: 0;
    padding: 10px;
    background-color: #2563EB;
    color: #fff;
  }


  .nav-container-style {
    padding: 0;
    height: 100%;
  }

  .hide-on-mobile-screen {
    display: none;
  }

  .hideable-span {
    display: none;
  }

  .default-button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .logo-mobile-screen {
    width: 200px !important;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
}
