<nav
  class="bg-white dark:bg-gray-900 w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
>
  <div class="flex gap-4 justify-start flex-wrap px-20">
    <ng-container  *ngFor="let category of categories">
      <div (mouseleave)="closeCategory(category)">
        <p>
          <strong
            (mouseenter)="openCategory(category)"
            class="hover:text-gray-500 cursor-pointer"
            >{{ category.name }}</strong
          >
        </p>
        <ng-container *ngFor="let child of category.children">
          <div >
              <span *ngIf="category.collapsed" (mouseenter)="openCategory(category)"> {{ child }}</span>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
</nav>
