<swiper
  class="swiper-container"
  [config]="config"
  (swiper)="onSwiper()"
  (slideChange)="onSlideChange()"
>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </div>
  </ng-template>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </div>
  </ng-template>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </div>
  </ng-template>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </div>
  </ng-template>
</swiper>
