<swiper
  class="swiper-container"
  [config]="config"
  (swiper)="onSwiper()"
  (slideChange)="onSlideChange()"
>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://demo.icm.intershop.de/INTERSHOP/static/WFS/inSPIRED-inTRONICS-Site/-/inSPIRED-inTRONICS-rest/en_US/pwa/pwa_home_teaser_2.avif" />
    </div>
  </ng-template>
  <ng-template class="hello-swiper" swiperSlide>
    <div class="swiper-slide">
      <img src="https://demo.icm.intershop.de/INTERSHOP/static/WFS/inSPIRED-inTRONICS-Site/-/inSPIRED-inTRONICS-rest/en_US/pwa/pwa_home_teaser_1.avif" />
    </div>
  </ng-template>
</swiper>
