.product-container{
  min-width: 297px;
  min-height: 297px;
  margin: 0 auto;
}
.products{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  justify-content: space-between;
  padding: 0px 60px 0 60px;
  row-gap: 10px;
}
.product-img{
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.product-container-tailwind{
  @apply w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
}
.product-title{
  @apply text-xl font-semibold tracking-tight text-gray-900 dark:text-white;
}
.product-detail-button{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
.product-rate{
  @apply bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3;
}
.product-price{
  @apply text-3xl font-bold text-gray-900 dark:text-white;
}
.product-rate-container{
  @apply flex items-center mt-2.5 mb-5;
}
.product-rate-stars{
  @apply flex items-center space-x-1 rtl:space-x-reverse ;
}
